<ul id="external-links" class="topics">
  <li><a href="https://concourse.halfpipe.io"><i class="fas fa-external-link-alt"></i> Concourse </a></li>
  <li><a href="https://vault.halfpipe.io/ui"><i class="fas fa-external-link-alt"></i> Vault UI</a></li>
  <li><a href="https://github.com/springernature/halfpipe-examples"><i class="fas fa-external-link-alt"></i> Halfpipe Examples</a></li>
  <li><a href="https://ee-discourse.springernature.io/c/halfpipe"><i class="fas fa-external-link-alt"></i> Discourse Forum</a></li>
  <li><a href="https://hive.springernature.com/community/information-technology/engineering-enablement-ee/blog/tags#/?tags=halfpipe"><i class="fas fa-external-link-alt"></i> Hive Posts</a></li>
</ul>
